@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-size: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

div {
  box-sizing: border-box;
}

.center-align {
  text-align: center;
}

h1 {
  margin: 1rem 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1 span {
  color: rgb(14, 137, 14);
}

.container {
  width: 90%;
  max-width: 100rem;
  margin: 1rem auto;
}

.products {
  padding: 1rem 0;
}

.product {
  border: 1px solid #c6c6c6;
  display: inline-block;
  width: 20%;
  min-width: 12.5rem;
  padding: 1rem;
  vertical-align: top;
  position: relative;
  background: white;
  transform: scale(1);
  transition: transform .5s;
}

.product:hover {
  transform: scale(1.05);
  z-index: 1;
}

.shadow-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .1);
  transition: background .5s;
}

.img-product {
  margin-bottom: 3rem;
}

.product img {
  max-width: 100%;
  max-height: 10rem;
}

.name-product {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.product .name-product span {
  font-weight: 700;
}

.product .rate {
  margin-bottom: 2rem;
}

.product .rate > div {
  display: inline-block;
}

.product .star {
  width: 1rem;
}

.product .rate-counts {
  margin-left: 1rem;
  color: blue;
}

.price-and-buy a {
  cursor: pointer;
}

.product .old-price {
  font-size: 1.25rem;
  color: #c6c6c6;
  text-decoration: line-through;
}

.product .price {
  float: left;
  color: rgb(249, 55, 55);
  font-size: 1.75rem;
}

.product .buy {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  opacity: 0%;
  transition: opacity .5s;
}

.product:hover .shadow-block .buy {
  display: block;
  opacity: 100%;
}

.product:hover .shadow-block {
  background: rgba(0, 0, 0, 0);
}

.product .buy img {
  width: 2.5rem;
}