@font-face {
  font-family: Roboto;
  src: url("../fonts/static/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/static/Roboto-Bold.ttf");
  font-weight: bold;
}

.container {
  font-family: Roboto;
}

h1 {
  margin-top: 5rem;
}

h3 {
  font-size: 1rem;
  color: #6d6d6d;
}

.cards {
  margin-top: 2rem;
}

.card .description p:nth-of-type(1) {
  font-weight: bold;
}

.card .description p:nth-of-type(2) {
  font-size: .75rem;
  color: #6d6d6d;
}

.for-sprite {
  width: 84px;
  height: 84px;
  border-radius: .5rem;
  background: url("../images/icon-sprite-28.png");
  background-position-y: 84px;
}

.cards .marketing .for-sprite{
  background-position-x: 84px;
}

.cards .design .for-sprite{
  background-position-x: 168px;
}

.cards .development .for-sprite{
  background-position-x: 252px;
}

.cards .human .for-sprite{
  background-position-x: 336px;
}

.cards .project .for-sprite{
  background-position-x: 420px;
}

.cards .customer .for-sprite{
  background-position-x: 504px;
}

.cards .health .for-sprite{
  background-position-x: 588px;
}

.cards .automative .for-sprite{
  background-position-x: 672px;
}

.card:hover .for-sprite{
  background-position-y: 168px;
}

.card:hover .description p:nth-of-type(1) {
  color: rgb(5, 113, 246);
}

.card:hover {
  box-shadow: 0px 0px 10px #c6c6c6;
}