@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-size: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.center-align {
  text-align: center;
}

h1 {
  margin: 1rem 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1 span {
  color: rgb(14, 137, 14);
}

.container {
  border-radius: 1rem;
  width: 90%;
  max-width: 90rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: bisque;
}

.clearfix:after {
  display: block;
  content: ' ';
  clear: both;
}

.products {
  padding: 1rem 0;
}

.product {
  border: 1px solid #c6c6c6;
  float: left;
  width: 20%;
  padding: 1rem;
  position: relative;
  background: white;
  transform: scale(1);
  transition: transform .5s;
}

.product:hover {
  transform: scale(1.05);
  z-index: 1;
}

.shadow-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .1);
  transition: background .5s;
}

.img-product {
  margin-bottom: 3rem;
}

.product .img-product img {
  max-width: 100%;
  max-height: 10rem;
}

.name-product {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.product .name-product span {
  font-weight: 700;
}

.product .rate {
  margin-bottom: 2rem;
}

.product .rate>div {
  display: inline-block;
}

.product .star {
  width: 1rem;
}

.product .star img {
  width: 100%;
}

.product .rate-counts {
  margin-left: 1rem;
  color: blue;
}

.price-and-buy a {
  cursor: pointer;
}

.product .old-price {
  font-size: 1.25rem;
  color: #c6c6c6;
  text-decoration: line-through;
}

.product .price {
  float: left;
  color: rgb(249, 55, 55);
  font-size: 1.75rem;
}

.product .buy {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  opacity: 0%;
  transition: opacity .5s;
}

.product:hover .shadow-block .buy {
  display: block;
  opacity: 100%;
}

.product:hover .shadow-block {
  background: rgba(0, 0, 0, 0);
}

.product .buy img {
  width: 2.5rem;
}

.inline-block {
  display: inline-block;
}

.dropdown {
  margin-left: 3rem;
  border: 1px solid #c6c6c6;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
  cursor: pointer;
  animation-name: color-changer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.dropdown .catalog-goods {
  padding: .5rem 3rem;
}

.dropdown .list-goods {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.dropdown:hover .list-goods {
  display: block;
  position: absolute;
  left: -1px;
  right: -1px;
  background: white;
  z-index: 3;
  border-radius: .5rem;
  box-shadow: 5px 5px 5px rgba(171, 171, 171, .75);
}

.dropdown .list-goods li {
  border: 1px solid #c6c6c6;
  border-top: none;
  padding: .5rem 1rem;
}

.dropdown .list-goods li:nth-child(1) {
  border-top: 1px solid #c6c6c6;
}

.dropdown .list-goods li:nth-last-child(1) {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.dropdown .list-goods li:hover {
  background: blue;
  color: white;

}

.to-up {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  width: 5rem;
  border: 1px solid blue;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem 0;
  z-index: 4;
  background-color: white;
  color: black;
  cursor: pointer;
  animation-name: zoomer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 2;
  box-shadow: 5px 5px 5px rgba(171, 171, 171, .75);
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }

  .product {
    width: 33.33%;
    min-height: 28.375rem;
  }
}

@media screen and (max-width: 970px) {
  .container {
    width: 98%;
  }

  .product {
    width: 50%;
  }

  .product img {
    max-height: 15rem;
  }

  .dropdown {
    display: block;
    margin-left: 0;
  }

}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
  }

  .product {
    width: 100%;
  }

  .product img {
    max-height: 20rem;
  }
}

@keyframes zoomer {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes color-changer {
  0% {
    background-color: white;
  }

  50% {
    background-color: rgba(15, 230, 97, 0.25);
  }

  100% {
    background-color: white;
  }
}