@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-size: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.center-align {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

h1 {
  margin: 1rem 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1 span {
  color: rgb(14, 137, 14);
}

.container {
  border-radius: 1rem;
  padding: 1rem;
  background-color: bisque;
}

.products {
  margin: 0;
}

.product {
  border: 1px solid #c6c6c6;
  padding: 1rem;
  background: white;
  transform: scale(1);
  transition: transform .5s;
}

.product:hover {
  transform: scale(1.05);
  z-index: 1;
}

.shadow-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .1);
  transition: background .5s;
}

.img-product {
  margin-bottom: 3rem;
}

.product .img-product img {
  max-width: 100%;
  max-height: 10rem;
}

.name-product {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.product .name-product span {
  font-weight: 700;
}

.product .rate {
  margin-bottom: 2rem;
}

.product .star {
  width: 1rem;
}

.product .star img {
  width: 100%;
}

.product .rate-counts {
  margin-left: 1rem;
  color: blue;
}

.product .old-price {
  font-size: 1.25rem;
  color: #c6c6c6;
  text-decoration: line-through;
}

.product .price {
  float: left;
  color: rgb(249, 55, 55);
  font-size: 1.75rem;
}

.product .buy {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  opacity: 0%;
  transition: opacity .5s;
}

.product:hover .shadow-block .buy {
  display: block;
  opacity: 100%;
}

.product:hover .shadow-block {
  background: rgba(0, 0, 0, 0);
}

.product .buy img {
  width: 2.5rem;
}

.inline-block {
  display: inline-block;
}

.text-decoration-none {
  text-decoration: none;
}



.to-up {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  width: 5rem;
  border: 1px solid blue;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem 0;
  z-index: 4;
  background-color: white;
  color: black;
  animation-name: zoomer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 2;
  box-shadow: 5px 5px 5px rgba(171, 171, 171, .75);
}

.reg-form {
  margin-top: 3rem;
}

.reg-form .labels,
.reg-form p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

input[type="radio"] + .labels {
  
  margin-top: .25rem;
}

.input-radio {
  margin: 0;
}

hr {
  border: .5px solid #dedada;
  margin: 0;
  margin-top: 2rem;
}

textarea {
  margin-top: 4.25rem;
}

.buttons-block {
  margin-top: 2rem;
}

@keyframes zoomer {

  50% {
    transform: scale(1.1);
  }

}

@keyframes color-changer {

  50% {
    background-color: rgba(15, 230, 97, 0.25);
  }

}